<div class="header">
    <div class="col-md-2 col-md-offset-0 rm-l-p rm-r-p header-logo">
        <a href="/">
            <img src="/images/header-logo.svg" alt="野狗-开发文档" class="wd-logo">
        </a>
    </div>
    <div class="col-md-7 col-md-offset-3 rm-l-p rm-r-p header-right">
        <ul class="header-menu">
            <li class="menu-item menu-item-index"><a href="https://www.wilddog.com/" class="menu-link">野狗官网</a></li>
            <li class="menu-item menu-item1"><a href="/" class="menu-link">文档首页</a></li>
            <li class="menu-item menu-item2"><a href="/overview/introduction" class="menu-link">开发文档</a></li>
            <li class="menu-item menu-item3"><a href="/questions" class="menu-link">常见问题</a></li>
            <li class="menu-item menu-item4"><a href="/video" class="menu-link">视频教程</a></li>
            <li class="menu-item menu-item5"><a href="https://www.wilddog.com/my-account/login" class="menu-link menu-link-login">登录</a></li>
            <li class="menu-item menu-item6"><a href="https://www.wilddog.com/my-account/signup" class="menu-link btn-org-full">注册</a></li>
        </ul>
    </div>
</div>

<div class="header-mobile">
    <div class="header-logo">
        <a href="/">
            <img src="/images/z-header-logo.svg" alt="野狗-开发文档" class="wd-logo">
            <img src="/images/z-header-logo-text.svg" alt="野狗-开发文档" class="logo-text">
        </a>
    </div>
</div>

<button class="navbar-toggle collapsed" type="button">
    <span class="icon-bar menu-line-t"></span>
    <span class="icon-bar menu-line-m"></span>
    <span class="icon-bar menu-line-b"></span>
</button>