<div class="col-md-2 menu">
    {{#pages}} {{#is_dir}}
    <li class="category {{#active}} active{{/active}}">
        <div class="category-title"><a href="{{slug}}">{{title}}</a></div>
        <ul class="pages">
            {{#files}} {{#is_md}}
            <li class="page {{#active}} active{{/active}}"><a href="/{{slug}}" class="unvisited">{{title}}</a>
            </li>
            {{/is_md}} {{/files}}
        </ul>
    </li>
    {{/is_dir}} {{/pages}}
</div>
<div class="col-md-9 col-md-offset-1 layout-api">
    <div class="page-right">
        <div class="page-right-fixed">
            <div class="document-menu">
                <div class="menu-title">内容大纲</div>
                {{#pages}} {{#files}} {{#active}}
                <div class="page-tile"> {{title}} </div>
                {{/active}} {{/files}} {{/pages}} {{{toc}}}
            </div>
        </div>
    </div>
    <section class="content">
        {{#pages}} {{#files}} {{#active}}
        <h1 class="top-heading"> {{title}} </h1> {{/active}} {{/files}} {{/pages}}
        <div class="func">
            <div class="func-section" id="func-section-video"><img src="/images/func-video.svg" class="func-img">视频</div>
            <div class="func-section" id="func-section-print"><img src="/images/func-print.svg" class="func-img">打印</div>
        </div>
        <div class="toc">
            {{{toc}}}
            <i class="wd-font">4</i>
        </div>
        <div class="content-text api-content-text">{{{ content }}}</div>
    </section>
</div>
<div class="back-top-ab">
    <div class="back-top"><i class="wd-font">R</i></div>
</div>
