<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{#meta.title}}{{meta.title}} - {{/meta.title}}{{config.site_title}}</title>
    <meta name="description" content="野狗开发文档，野狗文档，WildDog文档">
    <meta name="keywords" content="wilddog, WildDog, realtime, PaaS, BaaS, HTMl5, CoAP, Thread, REST, Javascript, DTLS, websockets, realtime sync, UDP, JSON, developer, B2B, SDK, iOS, Android, Mac OS, Windows, 野狗, 野狗实时, 野狗云, 实时应用, 实时同步, 实时数据库, 跨平台, 物联网, 构建实时应用, 受限网络, 传感网, 解决方案, 云平台, 云计算, 云服务, 公有云, 私有云, 开发者">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />-->
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
    <!--[if lt IE 9]>
        <script type="text/javascript">
            window.location.href="/outmen";
        </script>
    <![endif]-->
    <link rel="stylesheet" href="/bower_components/highlightjs/styles/color-brewer.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/mediaelementplayer.min.css">
    <link rel="stylesheet" href="/css/header_public.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/video.css">
</head>

<body>
    <div id="wrap">
        <div class="header-bg">
            <div class="container rm-l-p rm-r-p">
                {{>header_commen}}
            </div>
        </div>
        <div class="main">
            <div class="container main-body">
                <h1 class="video-title text-center fzlt">视频教程</h1>
                <h2 class="video-text text-center">你可以通过我们提供的视频教程，快速学会野狗SDK的使用方法。</h2>
                <div class="item-title item-title-top text-center fzlt">编辑精选</div>

                <ul class="video-selected">
                    <li class="active"><img src="/images/video/button.svg" alt="" width="100">
                        <div class="video-selected-li-bg">
                            <div class="title">新手入门&nbsp;&nbsp;如何创建第一个APP</div>
                            <div class="detials"><span class="date">2015/12/06</span><span class="time"><img src="/images/video/time.svg" alt="" width="24" height="24">5:59</span></div>
                        </div>
                    </li>
                    <li><img src="/images/video/button.svg" alt="" width="100">
                        <div class="video-selected-li-bg">
                            <div class="title">新手入门&nbsp;&nbsp;控制面板详解 — 数据预览</div>
                            <div class="detials"><span class="date">2015/12/06</span><span class="time"><img src="/images/video/time.svg" alt="" width="24" height="24">5:59</span></div>
                        </div>
                    </li>
                    <li><img src="/images/video/button.svg" alt="" width="100">
                        <div class="video-selected-li-bg">
                            <div class="title">新手入门&nbsp;&nbsp;控制面板详解 — 规则表达式</div>
                            <div class="detials"><span class="date">2015/12/06</span><span class="time"><img src="/images/video/time.svg" alt="" width="24" height="24">5:59</span></div>
                        </div>
                    </li>
                    <li><img src="/images/video/button.svg" alt="" width="100">
                        <div class="video-selected-li-bg">
                            <div class="title">新手入门&nbsp;&nbsp;控制面板详解 — 资源统计</div>
                            <div class="detials"><span class="date">2015/12/06</span><span class="time"><img src="/images/video/time.svg" alt="" width="24" height="24">5:59</span></div>
                        </div>
                    </li>
                </ul>

                <ul class="video-selects">
                    <li class="active">
                        <div class="video-selects-li-bg"><span class="up-text">新手入门<br></span>如何创建第一个APP</div>
                    </li>
                    <li>
                        <div class="video-selects-li-bg"><span class="up-text">新手入门<br></span>控制面板详解 — 数据预览</div>
                    </li>
                    <li>
                        <div class="video-selects-li-bg"><span class="up-text">新手入门<br></span>控制面板详解 — 规则表达式</div>
                    </li>
                    <li>
                        <div class="video-selects-li-bg"><span class="up-text">新手入门<br></span>控制面板详解 — 资源统计</div>
                    </li>
                </ul>
                <div class="border-line"><img src="/images/video/border.png" alt=""></div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="main-section rm-l-p rm-r-p">
            <div class="container">
                <div class="item-title item-title-top text-center fzlt">视频库</div>
                <div class="main-function">
                    <div class="main-func main-function-1">
                        <span class="func func-1"><img src="/images/video/func-1.svg" alt="" class="icon"><span class="li-text">全部分类</span><img src="/images/video/down.svg" alt="" class="down"></span>
                        <ul>
                            <li>全部分类</li>
                            <li>新手入门</li>
                            <li>JavaScript SDK</li>
                            <li>iOS SDK</li>
                            <li>C和嵌入式SDK</li>
                        </ul>
                    </div>

                    <div class="main-func main-function-2">
                        <span class="func func-2"><img src="/images/video/func-2.svg" alt="" class="icon"><span class="li-text">最近更新</span><img src="/images/video/down.svg" alt="" class="down"></span>
                        <ul>
                            <li>最近更新</li>
                            <li>最早发布</li>
                        </ul>
                    </div>
                </div>
                <div class="cards">
                    <!--1-->
                    <div class="card" data-type="tiro">
                        <div class="card-title fzlt">新手入门</div>
                        <div class="card-heading">如何创建第一个APP</div>
                        <div class="card-text">教你如何在野狗平台上创建第一个APP</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/11/16</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">1:59</span>
                        </div>

                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/primer/index.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/primer/index.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">教你如何在野狗平台上创建第一个APP</div>
                        </div>
                    </div>


                    <!--2-->
                    <div class="card" data-type="tiro">
                        <div class="card-title fzlt">新手入门</div>
                        <div class="card-heading">控制面板详解 — 数据预览</div>
                        <div class="card-text">你可以学习到如何使用控制面板数据预览功能</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/12/11</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">5:23</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/primer/data.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/primer/data.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">你可以学习到如何使用控制面板数据预览功能</div>
                        </div>
                    </div>

                    <!--3-->
                    <div class="card" data-type="tiro">
                        <div class="card-title fzlt">新手入门</div>
                        <div class="card-heading">控制面板详解 — 规则表达式</div>
                        <div class="card-text">你可以学习到如何使用控制面板规则表达式功能</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/07/16</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">10:11</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/primer/rules.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/primer/rules.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">你可以学习到如何使用控制面板规则表达式功能</div>
                        </div>

                    </div>

                    <!--4-->
                    <div class="card" data-type="tiro">
                        <div class="card-title fzlt">新手入门</div>
                        <div class="card-heading">控制面板详解 — 资源统计</div>
                        <div class="card-text">你可以学习到如何使用控制面板资源统计功能</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/01/06</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">1：16</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/primer/stats.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/primer/stats.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">你可以学习到如何使用控制面板资源统计功能</div>
                        </div>

                    </div>


                    <!--5-->
                    <div class="card" data-type="tiro">
                        <div class="card-title fzlt">新手入门</div>
                        <div class="card-heading">控制面板详解 — 超级密钥</div>
                        <div class="card-text">你可以学习到如何使用控制面板超级密钥功能</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/04/12</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">5:18</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/primer/keys.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/primer/keys.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">你可以学习到如何使用控制面板超级密钥功能</div>
                        </div>
                    </div>


                    <!--6-->
                    <div class="card" data-type="tiro">
                        <div class="card-title fzlt">新手入门</div>
                        <div class="card-heading">控制面板详解 — 终端用户认证</div>
                        <div class="card-text">你可以学习到如何使用控制面板终端用户认证功能</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/03/01</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">57:11</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/primer/auth.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/primer/auth.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">你可以学习到如何使用控制面板终端用户认证功能</div>
                        </div>
                    </div>


                    <!--7-->
                    <div class="card" data-type="js">
                        <div class="card-title fzlt">JavaScript SDK</div>
                        <div class="card-heading">快速入门</div>
                        <div class="card-text">通过JavaScript SDK的一些常用API快速学习如何使用</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/04/19</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">19:18</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/js/js-quick.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/js/js-quick.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过JavaScript SDK的一些常用API快速学习如何使用</div>
                        </div>

                    </div>


                    <!--8-->
                    <div class="card" data-type="js">
                        <div class="card-title fzlt">JavaScript SDK</div>
                        <div class="card-heading">开发实例</div>
                        <div class="card-text">通过计时器Demo进一步学习使用JavaScript SDK</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/12/12</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">20:49</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/js/js-develop.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/js/js-develop.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过计时器Demo进一步学习使用JavaScript SDK</div>
                        </div>

                    </div>


                    <!--9-->
                    <div class="card" data-type="js">
                        <div class="card-title fzlt">JavaScript SDK</div>
                        <div class="card-heading">数据添加、删除、修改</div>
                        <div class="card-text">通过实例学习如何使用API进行数据添加、删除、修改</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/01/01</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">40:1</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/js/js-operation.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/js/js-operation.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过实例学习如何使用API进行数据添加、删除、修改</div>
                        </div>

                    </div>

                    <!--10-->
                    <div class="card" data-type="js">
                        <div class="card-title fzlt">JavaScript SDK</div>
                        <div class="card-heading">数据查询</div>
                        <div class="card-text">通过实例学习如何使用API进行数据查询</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/04/30</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">34:48</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/js/js-query.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/js/js-query.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过实例学习如何使用API进行数据查询</div>
                        </div>

                    </div>


                    <!--11-->
                    <div class="card" data-type="js">
                        <div class="card-title fzlt">JavaScript SDK</div>
                        <div class="card-heading">数据排序</div>
                        <div class="card-text">通过实例学习如何使用API进行数据排序</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/01/14</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">9:57</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/js/js-sort.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/js/js-sort.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过实例学习如何使用API进行数据排序</div>
                        </div>

                    </div>

                    <!--12-->
                    <div class="card" data-type="js">
                        <div class="card-title fzlt">JavaScript SDK</div>
                        <div class="card-heading">优先级排序</div>
                        <div class="card-text">通过实例学习如何使用API进行优先级排序</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/05/06</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">4:40</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/js/js-api.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/js/js-api.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过实例学习如何使用API进行优先级排序</div>
                        </div>

                    </div>

                    <!--13-->
                    <div class="card" data-type="js">
                        <div class="card-title fzlt">JavaScript SDK</div>
                        <div class="card-heading">用户认证</div>
                        <div class="card-text">通过实例学习如何使用API实现用户认证功能</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/07/06</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">11:12</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/js/js-auth.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/js/js-auth.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过实例学习如何使用API实现用户认证功能</div>
                        </div>

                    </div>

                    <!--14-->
                    <div class="card" data-type="ios">
                        <div class="card-title fzlt">iOS SDK</div>
                        <div class="card-heading">快速入门</div>
                        <div class="card-text">通过iOS SDK的一些常用API快速学习如何使用</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/02/14</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">55:52</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/ios/ios-quick.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/ios/ios-quick.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过iOS SDK的一些常用API快速学习如何使用</div>
                        </div>


                    </div>

                    <!--15-->
                    <div class="card" data-type="ios">
                        <div class="card-title fzlt">iOS SDK</div>
                        <div class="card-heading">开发实例</div>
                        <div class="card-text">通过聊天室Demo进一步学习使用iOS SDK</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/02/02</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">18:39</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/ios/ios-develop.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/ios/ios-develop.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过聊天室Demo进一步学习使用iOS SDK</div>
                        </div>
                    </div>

                    <!--16-->
                    <div class="card" data-type="c">
                        <div class="card-title fzlt">C和嵌入式 SDK</div>
                        <div class="card-heading">开发实例（一）</div>
                        <div class="card-text">通过树莓派远程操控实例进一步学习使用 C和嵌入式SDK</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/11/12</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">19:43</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/c/c-develop1.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/c/c-develop1.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过树莓派远程操控实例进一步学习使用 C和嵌入式SDK</div>
                        </div>

                    </div>

                    <!--17-->
                    <div class="card" data-type="c">
                        <div class="card-title fzlt">C和嵌入式 SDK</div>
                        <div class="card-heading">快速入门</div>
                        <div class="card-text">通过C和嵌入式 SDK的一些常用API快速学习如何使用</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2016/01/02</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">10:31</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/c/c-quick.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/c/c-quick.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过C和嵌入式 SDK的一些常用API快速学习如何使用</div>
                        </div>

                    </div>

                    <div class="card" data-type="c">
                        <div class="card-title fzlt">C和嵌入式 SDK</div>
                        <div class="card-heading">Arduino SDK快速入门</div>
                        <div class="card-text">通过Arduino SDK的一些常用API快速学习如何使用</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/05/04</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">56:43</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/c/c-arduino-quick.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/c/c-arduino-quick.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过Arduino SDK的一些常用API快速学习如何使用</div>
                        </div>
                    </div>

                    <div class="card" data-type="c">
                        <div class="card-title fzlt">C和嵌入式 SDK</div>
                        <div class="card-heading">Arduino SDK开发实例</div>
                        <div class="card-text">通过温度湿度检测实例进一步学习使用 Arduino SDK</div>
                        <div class="button"><img src="/images/video/button.svg" alt="" width="40"></div>
                        <div class="card-bottom">
                            <span class="card-date">2015/03/09</span><span class="card-time"><img src="/images/video/time.svg" alt="" width="15" height="15">20:45</span>
                        </div>
                        <div class="video-overall" style="display:none">
                            <i class="icon-58 video-cancel"></i>
                            <video width="700" height="392" preload="none" class="video-player">
                                <source src="https://cdn.wilddog.com/video/c/c-arduino-develop.webm" type="video/webm">
                                <source src="https://cdn.wilddog.com/video/c/c-arduino-develop.mp4" type="video/mp4">
                            </video>
                            <div class="video-text">通过温度湿度检测实例进一步学习使用 Arduino SDK</div>
                        </div>
                    </div>
                </div>
                <div class="back-top-ab">
                    <div class="back-top"><i class="wd-font">R</i></div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="wrap-bg">

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/primer/index.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/primer/index.mp4" type="video/mp4">
            </video>
            <div class="video-text">教你如何在野狗平台上创建第一个APP</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/primer/data.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/primer/data.mp4" type="video/mp4">
            </video>
            <div class="video-text">你可以学习到如何使用控制面板数据预览功能</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/primer/rules.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/primer/rules.mp4" type="video/mp4">
            </video>
            <div class="video-text">你可以学习到如何使用控制面板规则表达式功能</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/primer/stats.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/primer/stats.mp4" type="video/mp4">
            </video>
            <div class="video-text">你可以学习到如何使用控制面板资源统计功能</div>
        </div>

        <!--        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/primer/keys.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/primer/keys.mp4" type="video/mp4">
            </video>
            <div class="video-text">你可以学习到如何使用控制面板超级密钥功能</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/primer/auth.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/primer/auth.mp4" type="video/mp4">
            </video>
            <div class="video-text">你可以学习到如何使用控制面板终端用户认证功能</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/js/js-quick.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/js/js-quick.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过JavaScript SDK的一些常用API快速学习如何使用</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/js/js-develop.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/js/js-develop.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过计时器Demo进一步学习使用JavaScript SDK</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/js/js-operation.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/js/js-operation.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过实例学习如何使用API进行数据添加、删除、修改</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/js/js-query.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/js/js-query.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过实例学习如何使用API进行数据查询</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/js/js-sort.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/js/js-sort.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过实例学习如何使用API进行数据排序</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/js/js-api.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/js/js-api.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过实例学习如何使用API进行优先级排序</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/js/js-auth.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/js/js-auth.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过实例学习如何使用API实现用户认证功能</div>
        </div>



        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/ios/ios-quick.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/ios/ios-quick.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过iOS SDK的一些常用API快速学习如何使用</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/ios/ios-develop.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/ios/ios-develop.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过聊天室Demo进一步学习使用iOS SDK</div>
        </div>



        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/c/c-develop1.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/c/c-develop1.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过树莓派远程操控实例进一步学习使用 C和嵌入式SDK</div>
        </div>


        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/c/c-quick.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/c/c-quick.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过C和嵌入式 SDK的一些常用API快速学习如何使用</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/c/c-arduino-quick.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/c/c-arduino-quick.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过Arduino SDK的一些常用API快速学习如何使用</div>
        </div>

        <div class="video-overall" style="display:none">
            <i class="icon-58 video-cancel"></i>
            <video width="700" height="392" preload="none" class="video-player">
                <source src="https://cdn.wilddog.com/video/c/c-arduino-develop.webm" type="video/webm">
                <source src="https://cdn.wilddog.com/video/c/c-arduino-develop.mp4" type="video/mp4">
            </video>
            <div class="video-text">通过温度湿度检测实例进一步学习使用 Arduino SDK</div>
        </div>-->
    </div>

    <footer class="container">
        <ul class="footer-nav">
            <li class="nav-item"><a href="https://z.wilddog.com/" class="footer-nav-link">文档</a></li>
            <li class="nav-item"><a href="https://www.wilddog.com/download/" class="footer-nav-link">下载</a></li>
            <li class="nav-item"><a href="https://www.wilddog.com/product/pricing" class="footer-nav-link">价格</a></li>
            <li class="nav-item"><a href="https://life.wilddog.com/wilddog-contact.html" class="footer-nav-link">联系我们</a></li>
            <li class="nav-item"><a href="https://wilddog.daikeapp.com/tickets" class="footer-nav-link">客服工单</a></li>
        </ul>
        <div class="footer-logo">
            <a href="https://www.wilddog.com/"><img src="/images/footer-wd-logo.svg" alt=""></a>
        </div>
    </footer>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/highlightjs/highlight.pack.js"></script>
    <!--    <script src="/bower_components/bootstrap/js/jquery.pin.js"></script>-->
    <script src="/scripts/mediaelement-and-player.min.js"></script>

    <script src="/scripts/raneto.js" type="text/javascript"></script>
    <script src="/scripts/mobile.js" type="text/javascript"></script>
    <script src="/scripts/video.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = loadOver;
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.wilddog.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-53PGC2');
    </script>
    <!-- End Google Tag Manager -->
</body>

</html>