.menu-item1 .menu-link {
    color: rgb(51, 51, 51);
}

.greeting {
    text-align: center;
    letter-spacing: 2px;
}

.greeting-title {
    font-size: 38px;
    color: rgb( 51, 51, 51);
    margin-top: 15%;
}

.greeting-text {
    font-size: 16px;
    color: rgb( 153, 153, 153);
    margin-top: 18px;
}

.links {
    margin-top: 10%;
    position: relative;
}

.item {
    position: relative;
    float: left;
    width: 240px;
    height: 245px;
    border-right: 1px dashed rgba(204, 204, 204, .8);
    text-align: center;
    cursor: pointer;
}

.item-last {
    border: none;
}

.item-link {
    width: 186px;
    height: 100%;
    margin: 0 auto;
}

.item-logo {
    padding-top: 33px;
}
.item-2 .item-logo {
    padding-top: 37.5px;
}
.item-3 .item-logo {
    padding-top: 40px;
}
.item-last .item-logo {
    padding-top: 50px;
}
.item-title {
    font-size: 18px;
    color: rgb( 51, 51, 51);
    padding-top: 24px;
    letter-spacing: 1px;
    font-weight: 600;
}

.item-text {
    font-size: 12px;
    color: rgb( 102, 102, 102);
    line-height: 2;
    margin-top: 15px;
    letter-spacing: 1px;
}

.bg-frame {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    left: -1px;
    border: 1px solid rgb( 240, 240, 240);
    box-shadow: 0 1px 14px rgba(204, 204, 204, .8);
    -webkit-box-shadow: 0 1px 14px rgba(204, 204, 204, .8);
    -moz-box-shadow: 0 1px 14px rgba(204, 204, 204, .8);
    -o-box-shadow: 0 1px 14px rgba(204, 204, 204, .8);
    border-radius: 3px;
    width: 241px;
    height: 245px;
    cursor: pointer;
    border-radius: 3px;
}

@media (min-width: 768px) and (max-width: 1299px) {
    .item {
        width: 50%;
        border-right: none;
    }
    .bg-frame {
        display: none !important;
    }
    .item-link {
        margin: 0 auto;
    }
    .item-3,
    .item-last {
        margin-top: 60px;
    }
    footer {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .bg-frame {
        display: none !important;
    }
    .greeting-title {
        font-size: 26px;
        padding-left: 20px;
        letter-spacing: 0;
    }
    .links {
        margin-top: 100px;
    }
    .item {
        float: none;
        width: 80%;
        margin: 0 auto;
        border-right: none;
        border: 1px solid rgb( 229, 229, 229);
        border-radius: 10px;
        margin-top: 40px;
    }
    /*    .item-link {
        display: block;
        position: relative;
        width: auto;
        height: auto;
    }*/
}